@import '_variables.scss';
@import 'header/_header.scss';

@import 'rental/_rental-listing.scss';
@import 'rental/_rental-detail.scss';

.page-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.apartment {
  color: #a72da3;
}

.house {
  color: #bf1818;
}

.condo {
  color: #d68000;
}